.tile {
	grid-column: span 18;
	background-color: var(--darkGray);
	font-size: 1.25rem;
	border-radius: 0.5rem;
	cursor: pointer;

	&.editing {
		grid-column: span 17 !important;
	}

	.legend {
		width: 100%;

		// padding: 0.25rem;

		.ul {
			width: 100%;

			display: grid;
			grid-template-columns: repeat(17, 1fr);
			align-items: center;
			gap: 0.5rem;

			.name,
			.manufacturer,
			.colorway {
				grid-column: span 5;
			}

			.year {
				width: 100%;

				grid-column: span 2;
				display: flex;
				justify-content: center;
			}
		}
	}
}
