:root {
	--masterBackground: #f6f6f6;
	--darkerGray: #121212;
	--darkGray: #252525;
	--mediumGray: #373737;
	--gray: #525252;
	--lightGray: #aaaaaa;
	--lighterGray: #cccccc;
	--lightestGray: #eeeeee;
}

* {
	box-sizing: border-box !important;
	color: var(--darkGray);
}

html,
body,
#root {
	width: 100%;
	height: 100dvh;
}
