.image {
	width: 100%;
	height: 100%;
	aspect-ratio: 1;
	padding: 0.5rem;
	border-radius: 0.25rem;
	object-fit: scale-down;
	background-color: var(--darkGray);
	opacity: 0.75;

	&.no-border {
		border-radius: 0.5rem;
	}
}
