.header {
	position: relative;
	// background-color: var(--lightestGray);

	.nav {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 1rem;
		height: 4rem;
		color: var(--lightestGray);
		box-shadow: 5px 5px 0.5rem rgba(0, 0, 0, 0.5);
		background-color: var(--darkerGray);
		z-index: 10;

		.a {
			color: var(--lightestGray);
		}

		.menu {
			display: flex;
			align-items: center;
			height: 100%;

			.h1 {
				height: 100%;
				align-self: center;
			}
		}

		.ul {
			display: flex;
			gap: 1rem;
			padding: 1rem;
		}

		.yoyo {
			height: 2.5rem;
			width: 2.5rem;
		}

		.logo,
		.li {
			cursor: pointer;
		}

		.logo {
			display: flex;
			gap: 1rem;
			font-size: 1.75rem;
			padding: 1rem;
			color: var(--lightestGray);
		}

		.li {
			font-size: 1.25rem;
			padding: 1rem 0;
		}
	}
}
