.header {
	display: flex;
	align-items: center;
	width: 100%;

	.nav {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 2rem;

		.logo {
			padding: 1rem;
		}

		.links {
			display: flex;
			gap: 1rem;

			.link {
				padding: 1rem;
			}
		}
	}
}
