.collection-container {
	width: 100%;
	flex-grow: 1;

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	color: var(--lightestGray);
	margin: 1rem 0;
	// border: 1px solid red;

	.title {
		width: 50%;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		// border: 1px solid white;

		.input-box {
			display: flex;
			align-items: center;
			gap: 0.25rem;

			.icons {
				display: flex;
				height: 2rem;
				width: 2rem;
				cursor: pointer;
			}

			.input {
				border: none;
				height: 3rem;
				width: 20rem;
				font-size: 2.5rem;
				background-color: var(--darkGray);
				color: var(--lightestGray);
				padding-left: 0.25rem;

				&::placeholder {
					color: var(--gray);
				}

				&:focus {
					outline: none;
					background-color: var(--mediumGray);
				}
			}
		}

		.collection-name-box {
			display: flex;
			align-items: end;

			.name-edit-icon {
				height: 2.5rem;
				font-size: 2rem;
				margin-left: 0.5rem;
			}

			.h1 {
				font-size: 3rem;
				text-shadow: 2px 2px 0.5rem black;
			}
		}

		.textarea-box {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.25rem;
			width: 100%;
			cursor: pointer;

			.textarea {
				width: 100%;

				background-color: var(--darkGray);
				color: var(--lightestGray);
				font-size: 1.125rem;
				padding-left: 0.25rem;

				&::placeholder {
					color: var(--lightGray);
				}

				&:focus {
					background-color: var(--mediumGray);
				}
			}
		}

		.max-length {
			position: absolute;
			transform: translateY(calc(100% + 0.125rem));
			bottom: 0;
			font-size: 0.75rem;
			opacity: 0.5;
		}

		.details {
			position: relative;
			display: flex;
			align-items: center;

			.h3 {
				height: 1.5rem;
				display: flex;
				align-items: center;
				border-right: 1px solid var(--lightestGray);
				padding-right: 1rem;
			}

			.likes {
				position: relative;
				display: flex;
				align-items: center;
				gap: 0.25rem;
				border-left: 1px solid var(--lightestGray);
				padding-left: 1rem;
			}
		}

		.description {
			font-size: 1.125rem;
			width: fit-content;
			text-align: center;
			line-height: normal;
		}
	}

	.collection {
		width: 70%;
		max-width: 60rem;

		position: relative;
		display: flex;
		flex-direction: column;
		gap: rem;
		// border: 1px solid white;

		.h2 {
			font-size: 2rem;
			text-shadow: 2px 2px 0.5rem black;
		}

		.photos-container {
			width: 100%;

			display: flex;
			padding: 1rem;
			gap: 4rem;

			.left {
				width: 40%;

				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1rem;

				.cover {
					width: 100%;

					.image-box {
						width: 100%;
						height: 100%;

						position: relative;
						display: flex;
						justify-content: center;
						align-items: center;

						.image {
							position: relative;
							width: 100%;
							aspect-ratio: 1;
							object-fit: cover;
							border-radius: 0.5rem;
							box-shadow: 0.25rem 0.25rem 1rem black;
						}

						.menu {
							position: absolute;
							display: flex;
							border-radius: 0.5rem;
							padding: 0.5rem;
							gap: 0.25rem;

							transition: 0.3s;
							opacity: 0;

							&.hover {
								opacity: 1;
							}

							.option {
								border: 0.25rem solid var(--lightestGray);
								border-radius: 1rem;

								display: flex;
								align-items: center;
								justify-content: center;
								background-color: rgba(30, 30, 30, 0.35);
								cursor: pointer;
								transition: 0.3s;

								opacity: 0.75;

								&:hover {
									transform: scale(1.25);
									background-color: rgba(30, 30, 30, 0.5);

									opacity: 1;
								}

								&.not-editing {
									border: 0.375rem solid var(--lightestGray);
								}

								.icon {
									width: 3rem;
									height: 3rem;
									color: var(--lightestGray);

									&.not-editing {
										width: 5rem;
										height: 5rem;
									}
								}
							}
						}
					}
				}
			}

			.right {
				width: 60%;

				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1rem;

				.titles {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 1rem;

					.divider {
						height: 100%;
						border: 1px solid var(--lightestGray);
					}

					.h2 {
						cursor: pointer;
						opacity: 0.35;

						&.selected {
							opacity: 1;
						}
					}
				}

				.photos {
					width: 100%;
					flex-grow: 1;

					display: flex;
					flex-direction: column;
					align-items: center;

					// border: 1px solid white;

					.grid {
						width: 100%;
						flex-grow: 1;

						display: grid;
						grid-template-rows: repeat(2, 1fr);
						grid-template-columns: repeat(2, 1fr);
						gap: 1rem;

						.photo {
							width: 100%;
							aspect-ratio: 1;

							border-radius: 0.5rem;
							border: 1px solid white;
						}
					}
				}

				.yoyos-container {
					width: 100%;

					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 1rem;

					.sort {
						width: 100%;

						display: flex;
						align-items: center;
						justify-content: center;
						gap: 1rem;

						.style {
							padding: 0.25rem 0.5rem;
							border-radius: 0.5rem;
							border: 1px solid white;
						}
					}

					.yoyos {
						width: 100%;

						display: flex;
						flex-direction: column;
						gap: 1rem;

						.tile {
							width: 100%;
							height: 15rem;

							text-align: center;
							border-radius: 0.5rem;
							border: 1px solid white;
						}
					}
				}
				// border: 1px solid white;
			}
		}
	}

	.disabled {
		opacity: 0.5;
		cursor: auto !important;

		&:hover {
			transform: none !important;
		}
	}

	.settings-box {
		position: fixed;
		top: 5.5rem;
		right: 1.5rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0 1rem;
		color: var(--lightestGray);
		background-color: var(--darkerGray);
		border: none;
		border-radius: 0.5rem;
		box-shadow: 0.125rem 0.125rem 0.5rem black;
		transition: 0.3s;

		.settings {
			font-size: 1.125rem;
			font-weight: bold;
			padding: 0.75rem 0;

			@supports (-webkit-background-clip: text) {
				background: linear-gradient(135deg, rgb(255, 0, 255), #00e1ff);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		.settings-icon {
			transform: translateY(-5%); // ALIGN ITEMS CENTER NOT WORK GOOD
			@supports (-webkit-background-clip: text) {
				color: rgb(255, 0, 225);
			}
		}

		&:hover {
			transform: scale(1.1) translate(-5%, 5%);
		}
	}
}
