.container {
	grid-column: span 1;

	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	transition: 0.3s;

	&:hover {
		transform: scale(1.1);
	}

	// border: 1px solid white;

	.image {
		width: 100%;
		aspect-ratio: 1;

		position: relative;
		border-radius: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.75);

		&:hover {
			cursor: pointer;
		}
	}

	.options {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.25rem;
		border-radius: 0.5rem;
		transition: 0.5s;
		opacity: 0;

		&:hover {
			opacity: 1;
		}

		.menu {
			display: flex;
			border-radius: 0.5rem;
			padding: 0.5rem;
			gap: 0.25rem;
			z-index: 5;

			.option {
				border: 0.5rem solid var(--lightestGray);
				border-radius: 1rem;

				display: flex;
				align-items: center;
				justify-content: center;
				background-color: rgba(30, 30, 30, 0.35);
				cursor: pointer;
				transition: 0.3s;

				opacity: 0.75;

				&:hover {
					transform: scale(1.25);
					background-color: rgba(30, 30, 30, 0.5);

					opacity: 1;
				}

				.icon {
					width: 6rem;
					height: 6rem;
					color: var(--lightestGray);
				}
			}
		}
	}

	.details {
		width: 100%;
		display: flex;
		align-items: start;
		gap: 1rem;

		.attributes {
			flex-grow: 1;

			.model {
				font-weight: bold;
				font-size: 1.25rem;
			}

			.brand {
				font-size: 1.125rem;
			}
		}

		.likes {
			display: flex;
			align-items: center;
			font-size: 1.125rem;
		}
	}
}
