@import './reset.css';

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none;;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-roboto), var(--font-open-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
