@import './reset.css';

:root {
	--masterBackground: #f6f6f6;
	--darkestGray: #121212;
	--darkerGray: #252525;
	--darkGray: #373737;
	--mediumGray: #525252;
	--gray: #757575;
	--lightGray: #aaaaaa;
	--lighterGray: #cccccc;
	--lightestGray: #eeeeee;

	--darkestCyan: #003033;
	--darkerCyan: #004f55;
	--darkCyan: #007177;
	--mediumCyan: #339ba0;
	--cyan: #55c3ca;
	--lightCyan: #92dee2;
	--lighterCyan: #c6f0f2;
	--lightestCyan: #e9fcfc;
}

* {
	box-sizing: border-box !important;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none;;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-roboto), var(--font-open-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
