.tile {
	width: 100%;
	grid-column: span 18;
	background-color: var(--darkGray);
	font-size: 1.25rem;
	border-radius: 0.5rem;
	cursor: pointer;

	&.editing {
		grid-column: span 17 !important;
		margin-left: 1.75rem;
	}

	.legend {
		width: 100%;

		// padding: 0.25rem;

		.ul {
			width: 100%;

			display: grid;
			grid-template-columns: repeat(17, 1fr);
			align-items: center;
			gap: 0.5rem;

			.name,
			.manufacturer,
			.colorway {
				grid-column: span 5;
			}

			.name {
				display: flex;
				align-items: center;
				gap: 0.25rem;

				.star {
					color: yellow;
					transition: color 0.1s ease-in-out;

					&:hover {
						color: var(--lolGray);
					}
				}
			}

			.year {
				width: 100%;

				grid-column: span 2;
				display: flex;
				justify-content: center;
			}
		}
	}
}
