.tile {
	width: 100%;
	font-size: 1.25rem;

	display: flex;
	gap: 0.5rem;
	cursor: default;

	.image-box {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		// border: 1px solid white;

		.image {
			width: 15.25rem;
			height: 15.25rem;

			border-radius: 0.5rem;
			padding: 1rem;
			background-color: var(--darkerGray);

			&.yoyo-modal {
				width: 20rem;
				height: 20rem;
			}
		}

		.likes {
			margin-left: 0.5rem;
			display: flex;
			align-items: center;
			gap: 0.25rem;
			user-select: none;

			&.indented {
				padding-left: 2rem;
			}
		}
	}

	.content-box {
		flex-grow: 1;

		position: relative;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-left: 0.5rem;

		.label {
			font-weight: bold;
			white-space: nowrap;
		}

		.details {
			flex-grow: 1;

			display: flex;
			gap: 2rem;

			.attribute {
				display: flex;
				gap: 0.5rem;
			}

			.button {
				width: 12.5rem;
				height: 2.25rem;

				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.25rem;
				padding: 0 0.5rem;
				position: relative;
				text-align: center;
				font-size: 1.25rem;
				border: none;
				border-radius: 0.5rem;
				color: var(--lightestGray);
				background-color: transparent;
				cursor: pointer;
				transition: all 0.3s ease;
				z-index: 0;
				isolation: isolate;
				box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.75);
				user-select: none;

				.star {
					color: var(--lolGray);

					&.hover {
						color: yellow;
					}

					&.favorited {
						color: yellow;
					}
				}

				&:hover {
					&::before {
						content: '';
						position: absolute;
						inset: 0;
						padding: 2px; // thickness of the border
						border-radius: inherit;
						background: linear-gradient(
							135deg,
							yellow,
							magenta,
							yellow,
							magenta,
							yellow
						);
						background-size: 200% 1000%;

						animation: move-gradient 3s linear infinite;
						mask: linear-gradient(#fff 0 0) content-box,
							linear-gradient(#fff 0 0);
						mask-composite: exclude;
						-webkit-mask-composite: destination-out;
						z-index: -1;
					}
				}

				&.favorited {
					&::before {
						content: '';
						position: absolute;
						inset: 0;
						padding: 2px; // thickness of the border
						border-radius: inherit;
						background: linear-gradient(
							135deg,
							yellow,
							magenta,
							yellow,
							magenta,
							yellow
						);
						background-size: 200% 1000%;

						animation: move-gradient 3s linear infinite;
						mask: linear-gradient(#fff 0 0) content-box,
							linear-gradient(#fff 0 0);
						mask-composite: exclude;
						-webkit-mask-composite: destination-out;
						z-index: -1;
					}
				}

				&::before {
					content: '';
					position: absolute;
					inset: 0;
					padding: 2px; // thickness of the border
					border-radius: inherit;
					background: linear-gradient(
						135deg,
						magenta,
						cyan,
						magenta,
						cyan,
						magenta
					);
					background-size: 200% 1000%;

					animation: move-gradient 3s linear infinite;
					mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
					mask-composite: exclude;
					-webkit-mask-composite: destination-out;
					z-index: -1;
				}

				@keyframes move-gradient {
					0% {
						background-position: 100% 100%;
					}
					50% {
						background-position: 0% 100%;
					}
					100% {
						background-position: -100% 100%;
					}
				}
			}
		}

		.left {
			flex-grow: 1;
			min-width: 45%;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		.right {
			min-width: 35%;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		.edit {
			font-size: 2rem;
			opacity: 0.5;

			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;

			&:hover {
				opacity: 1;
				color: rgb(0, 225, 255);
			}
		}
	}

	.close-tile {
		position: absolute;
		top: -0.25rem;
		right: -0.25rem;

		.close {
			font-size: 2rem;
			opacity: 0.5;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}
		}

		&.yoyo-modal {
			display: flex;
			align-items: center;
			gap: 0.25rem;

			font-size: 1.5rem;
			transform: translate(calc(100% + 0.5rem), -0.25rem);
			opacity: 0.5;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}

			.close {
				opacity: 1;
			}
		}
	}
}
