.horizontal {
	position: relative;
	align-self: center;
	justify-self: center;
	border: 1px solid var(--lightGray);
	opacity: 0.5;
	height: 0;
	width: calc(100% - 2rem);
}

.vertical {
	align-self: center;
	justify-self: center;
	border: 1px solid var(--lightGray);
	opacity: 0.5;
	height: calc(100% - 2rem);
	width: 0;
}
