.tile {
	width: 100%;

	font-size: 1.25rem;
	border-radius: 0.5rem;
	display: flex;
	gap: 0.5rem;

	&.selected {
		.checkbox {
			align-self: center;
			min-width: 1.125rem !important;
			height: 1.125rem;
			margin: 0;
			padding: 0;
			accent-color: rgb(0, 225, 255);
		}

		.image-box {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;

			.image {
				width: 15.25rem;
				border-radius: 0.5rem;
				padding: 1rem;
				background-color: var(--darkerGray);
			}

			.likes {
				margin-left: 0.5rem;
				display: flex;
				align-items: center;
				gap: 0.25rem;
			}
		}

		.content-box {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			padding-left: 0.5rem;

			.label {
				font-weight: bold;
				white-space: nowrap;
			}

			.details {
				flex-grow: 1;

				display: flex;
				gap: 2rem;

				.attribute {
					display: flex;
					gap: 0.5rem;
				}

				.error {
					color: red;
					font-size: 1rem;
				}
			}

			.left {
				min-width: 55%;
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
			}

			.right {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
			}
		}

		.about {
			width: 100%;
			display: flex;

			.attribute {
				width: 100%;

				display: flex;
				flex-direction: column;
				gap: 0.25rem;

				.p {
					display: flex;
					align-items: center;
					gap: 0.25rem;
				}

				.icon {
					font-size: 1.25rem;
					cursor: pointer;

					&:hover {
						color: rgb(0, 225, 255);
					}
				}

				.undo,
				.check,
				.close {
					font-size: 1.75rem;
					cursor: pointer;

					&:hover {
						color: rgb(0, 225, 255);
					}
				}
			}

			.textarea-box {
				display: flex;
				align-items: center;
			}

			.textarea {
				width: 100%;
				height: 4.5rem;

				background-color: #454545;
				color: var(--lightestGray);
				font-size: 1.125rem;
				padding-left: 0.25rem;
				border: none;
				outline: none;
				margin: 0 0.25rem 0 0;

				scrollbar-width: 1rem;
				scrollbar-color: var(--mediumGray) var(--darkerGray);

				&::placeholder {
					color: var(--lightGray);
				}

				&:focus {
					background-color: var(--mediumGray);
				}
			}

			.error {
				color: red;
				font-size: 1rem;
			}
		}
	}
}
