.collection {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.h2 {
		font-size: 2rem;
		text-shadow: 2px 2px 0.5rem rgb(0, 0, 0);
	}

	.scroll-wrapper {
		align-self: center;
		overflow: hidden;
		width: 100%;
		max-width: 45rem;

		-webkit-mask-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 1) 35%,
			rgba(0, 0, 0, 1) 65%,
			rgba(0, 0, 0, 0) 100%
		);
		mask-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 1) 35%,
			rgba(0, 0, 0, 1) 65%,
			rgba(0, 0, 0, 0) 100%
		);

		.carousel {
			display: flex;
			gap: 1rem;
			animation: scroll-left 20s linear infinite;
			width: max-content;

			.tile {
				flex-shrink: 0;
				width: 12rem;
				aspect-ratio: 1;
				border: 1px solid white;
			}
		}
	}
}

@keyframes scroll-left {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}
