$masterBackground: #f6f6f6;
$darkerGray: #121212;
$darkGray: #252525;
$mediumGray: #373737;
$lightGray: #525252;
$lighterGray: #aaaaaa;
$lightestGray: #eeeeee;

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;

	ul {
		display: flex;
		gap: 1rem;
	}

	.logo,
	li {
		padding: 1rem 0;
	}

	.logo {
		font-size: 1.75rem;
	}

	li {
		font-size: 1.25rem;
	}
}
