.nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
	box-shadow: 2px 2px 0.5rem rgba(0, 0, 0, 0.1);
	height: 4rem;
	color: var(--mediumGray);

	a {
		color: var(--mediumGray);
	}

	.menu {
		display: flex;
		align-items: center;
		height: 100%;

		.hamburger {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 4rem;
			aspect-ratio: 1;
			cursor: pointer;
			color: var(--lightGray);
		}
	}

	ul {
		display: flex;
		gap: 1rem;
	}

	.logo,
	li {
		cursor: pointer;
	}

	.logo {
		font-size: 1.75rem;
		padding: 1rem;
	}

	li {
		font-size: 1.25rem;
		padding: 1rem 0;
	}
}
