.new-collection-btn {
	display: flex;
	align-items: center;
	line-height: 1;
	gap: 0.5rem;
	padding: 0 1rem;
	cursor: pointer;
	color: var(--lightestGray);
	background-color: var(--darkerGray);
	border: none;
	border-radius: 0.5rem;
	box-shadow: 0.125rem 0.125rem 0.5rem black;
	transition: 0.3s;

	&.disabled {
		opacity: 0.5;
		cursor: default;

		&:hover {
			transform: none;
		}
	}

	&:hover {
		transform: scale(1.1);
	}

	.settings {
		font-size: 1.125rem;
		font-weight: bold;
		padding: 0.75rem 0;

		@supports (-webkit-background-clip: text) {
			background: linear-gradient(135deg, rgb(255, 0, 255), #00e1ff);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.settings-icon {
		position: relative;
		transform: translateY(-1px); // FINE ADJUSTMENT
		@supports (-webkit-background-clip: text) {
			color: rgb(255, 0, 225);
		}
	}
}
