.container {
	position: relative;
	display: flex;
	flex-direction: column;
	// gap: 1rem;
	height: 100%;
	width: 100%;
	align-items: center;
	gap: 1rem; // REMOVE THIS IF YOU WANT THE FONT SIZE ON THE BUTTONS BACK TO 1.125REM

	.picture-container {
		position: relative;
		width: 100%;
		aspect-ratio: 1;
		// padding: 1rem; // ENABLE THIS IF YOU WANT THE FONT SIZE ON THE BUTTONS BACK TO 1.125REM

		.circle {
			border-radius: 50%;
		}

		.square {
			border-radius: 0.5rem;
		}

		@keyframes glowing {
			0%,
			100% {
				box-shadow: 0 0 0.5rem var(--lightestGray);
			}
			50% {
				box-shadow: 0 0 1rem var(--lightestGray), 0 0 0.5rem var(--lightestGray);
			}
		}

		.glowing {
			animation: glowing 1.25s ease-in-out infinite;

			&:hover {
				animation-play-state: paused;
			}
		}

		.placeholder {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			background: rgba(20, 20, 20, 0.5);
			overflow: hidden;
			cursor: pointer;

			.options {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				background-color: var(--darkerGray);
				opacity: 0;
				transition: 0.3s;
				z-index: 1;

				&:hover {
					opacity: 0.6;
				}

				.update {
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					font-size: 2rem;
					text-align: center;
					opacity: 0;
					transform: translateY(-0.5rem);

					&.square {
						font-size: 3rem;
					}

					&:hover {
						opacity: 1;
					}

					.upload {
						font-size: 3rem;
					}
				}
			}

			.image {
				position: relative;
				width: 100%;
				aspect-ratio: 1;
				object-fit: cover;
			}

			.input {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				cursor: pointer;
				opacity: 0;
			}

			.head {
				position: absolute;
				width: 40%;
				height: 40%;
				border-radius: 50%;
				background-color: var(--mediumGray);
				transform: translateY(calc(-50% + 0.5rem));
			}

			.body {
				position: absolute;
				width: 75%;
				height: 75%;
				border-radius: 40%;
				background-color: var(--mediumGray);
				transform: translateY(calc(50% + 1.5rem));
			}
		}

		.remove-container {
			position: absolute;
			top: 1rem;
			left: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: calc(100% - 2rem);
			width: calc(100% - 2rem);
			padding: 1rem;
			// border-radius: 50%;
			z-index: 5;

			.remove {
				position: absolute;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 0.5rem;
				z-index: 1;
				padding: 0.75rem 1.25rem;
				font-size: 1.125rem;
				border-radius: 0.5rem;

				.delete {
					z-index: 2;
				}

				.buttons {
					z-index: 2;

					.delete-button {
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 0.25rem 0.5rem;
						font-size: 1.125rem;
						line-height: 1;
						margin: 0;
						border: 2px solid var(--lightestGray);
						border-radius: 0.5rem;
						color: var(--lightestGray);
						background-color: transparent;
						cursor: pointer;
						opacity: 0.75;

						&:hover {
							opacity: 1;
						}
					}
				}

				.background {
					position: absolute;
					height: 100%;
					width: 100%;
					background-color: var(--darkerGray);
					border-radius: 0.5rem;
					opacity: 0.7;
				}
			}
		}
	}

	.buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		height: 100%;

		.undo {
			color: var(--lightestGray);
			width: 1.75rem;
			height: 1.75rem;
			margin: 0;
			padding: 0;
			cursor: pointer;

			opacity: 0.5;
			transition: 0.2s;

			&:hover {
				opacity: 1;
			}
		}

		.button {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.125rem; // ORIGINAL SIZE 1.125REM
			// font-size: 1rem; // ORIGINAL SIZE 1.125REM
			padding: 0.25rem 0.5rem;
			line-height: 1;
			margin: 0;
			border: 2px solid var(--lightestGray);
			border-radius: 0.5rem;
			color: var(--lightestGray);
			background-color: transparent;
			cursor: pointer;

			transition: 0.2s;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}

		.delete {
			font-size: 1.5rem;
			height: 2.5rem;
			width: 2.5rem;
			z-index: 10;
			border-radius: 0.5rem;

			cursor: pointer;
		}
	}

	.error {
		position: absolute;
		bottom: 0;
		font-size: 1rem;
		color: red;
		transform: translateY(100%);
	}
}
