.profile {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 100%;
	// padding: 2rem;
	color: var(--lightestGray);

	.preview {
		position: relative;
		display: flex;
		width: 60%;
		height: 100%;
		// border-radius: 0.5rem;
		// background-color: var(--darkerGray);
		// box-shadow: 2px 2px 0.5rem rgb(0, 0, 0);
		border: 1px solid red;

		.settings {
			position: absolute;
			top: 0.5rem;
			right: 1rem;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-weight: bold;
			cursor: pointer;
			color: var(--lightestGray);
		}
	}
}
