.profile-container {
	width: 100%;
	flex-grow: 1;

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	color: var(--lightestGray);

	.profile {
		width: 70%;
		max-width: 60rem;
		flex-grow: 1;

		position: relative;
		display: flex;
		gap: 2rem;

		margin: 1rem 0;
		// padding: 0 2rem;
		// border-radius: 0.5rem;
		// background-color: var(--darkerGray);
		// box-shadow: 2px 2px 0.5rem rgb(0, 0, 0);
		// outline: 1px solid red;

		.left {
			width: 40%;
			flex-grow: 1;

			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 1rem 0;
			// outline: 1px solid white;

			.icon {
				width: 1rem;
				aspect-ratio: 1;
			}

			.label {
				width: 100%;
			}

			.profile-picture {
				width: 80%;
				aspect-ratio: 1;
				// padding: 1rem;
				// outline: 1px solid white;

				.picture {
					width: 100%;
					aspect-ratio: 1;
					border-radius: 50%;
					box-shadow: 0 0 1.5rem black;
					// outline: 1px solid white;
				}
			}

			.h1 {
				width: 100%;

				text-align: center;
				font-size: 3rem;
				margin-top: 1rem;
				text-shadow: 2px 2px 0.5rem black;
				// outline: 1px solid white;
			}

			.details {
				display: flex;
				gap: 0.5rem;
				text-shadow: 2px 2px 0.5rem black;

				.handle,
				.location {
					display: flex;
					align-items: center;
					font-size: 1rem;
					opacity: 0.5;
				}
			}

			.label {
				width: 100%;
				font-size: 1.5rem;
				margin-top: 1rem;
				text-shadow: 2px 2px 0.5rem black;
			}

			.description-box {
				width: 100%;

				position: relative;
				font-size: 1.25rem;

				.quote {
					position: absolute;
					top: 0;
					left: 0;
					transform: rotate(180deg);
					height: 2.5rem;
					width: 2.5rem;
				}

				.description {
					position: relative;
					padding-top: 1.75rem;
					padding-left: 2.25rem;
					padding-right: 1rem;
					text-shadow: 2px 2px 0.5rem black;
				}
			}

			.yoyo {
				width: 100%;
				font-size: 1.25rem;
				margin-top: 0.25rem;
				text-shadow: 2px 2px 0.5rem black;
			}

			.brand {
				width: 100%;
				font-size: 1.25rem;
				margin-top: 0.25rem;
				text-shadow: 2px 2px 0.5rem black;
			}
		}

		.right {
			width: 60%;
			flex-grow: 1;
			// outline: 1px solid white;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			padding: 1rem 0;

			.h2 {
				width: 100%;

				text-align: center;
				font-size: 2.25rem;
				text-shadow: 2px 2px 0.5rem black;

				// outline: 1px solid white;
			}

			.collections-container,
			.favorites-container {
				width: 100%;

				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1rem;
				// outline: 1px solid white;
			}

			.collections-container {
			}
			.favorites-container {
			}
		}
	}

	.settings-box {
		position: fixed;
		top: 5.5rem;
		left: 1.5rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0 1rem;
		cursor: pointer;
		color: var(--lightestGray);
		background-color: var(--darkerGray);
		border-radius: 0.5rem;
		box-shadow: 0.125rem 0.125rem 0.5rem black;
		z-index: 10;

		.settings {
			font-size: 1.125rem;
			font-weight: bold;
			padding: 0.75rem 0;

			@supports (-webkit-background-clip: text) {
				background: linear-gradient(135deg, rgb(255, 0, 255), rgb(0, 225, 255));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				cursor: pointer;
			}
		}

		.settings-icon {
			@supports (-webkit-background-clip: text) {
				color: rgb(255, 0, 225);
			}
		}
	}
}
