.my-collections-container {
	width: 100%;
	flex-grow: 1;

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--lightestGray);

	.my-collections {
		width: 70%;
		max-width: 60rem;

		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding: 0 2rem;
		margin: 2rem 0;

		.h1 {
			font-size: 3rem;
			text-shadow: 2px 2px 0.5rem black;
		}
	}

	.settings-box {
		position: fixed;
		top: 5.5rem;
		left: 1.5rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0 1rem;
		cursor: pointer;
		color: var(--lightestGray);
		background-color: var(--darkerGray);
		border-radius: 0.5rem;
		box-shadow: 0.125rem 0.125rem 0.5rem black;
		transition: 0.3s;

		.settings {
			font-size: 1.5rem;
			font-weight: bold;
			padding: 0.75rem 0;

			@supports (-webkit-background-clip: text) {
				background: linear-gradient(135deg, rgb(255, 0, 255), #00e1ff);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				cursor: pointer;
			}
		}

		.settings-icon {
			// transform: translateY(-5%); // ALIGN ITEMS CENTER NOT WORK GOOD
			@supports (-webkit-background-clip: text) {
				color: rgb(255, 0, 225);
			}
		}

		&:hover {
			transform: scale(1.1) translate(5%, 5%);
		}
	}
}
