$masterBackground: #f6f6f6;
$darkerGray: #121212;
$darkGray: #252525;
$mediumGray: #373737;
$lightGray: #525252;
$lighterGray: #aaaaaa;
$lightestGray: #eeeeee;

.message-container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: calc(10 / 12 * 100%);
	transform: translateX(-.5rem);

	h2 {
		position: absolute;
		top: 0;
		transform: translateY(calc(-.5rem - 100%));
		font-size: 1.125rem;
		font-style: italic;
		color: $darkGray;
	}

	.message-contents {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		transform: translateX(1rem);
		background-color: white;
		border-left: 0.25rem solid $lighterGray;
		text-shadow: 2px 2px .5rem rgba(0, 0, 0, 0.1);
		box-shadow: 2px 2px .5rem rgba(0, 0, 0, 0.1);
		
		.opening {
			color: #696969;
			font-size: 2rem;
		}

		p {
			font-size: 1.125rem;
		}

		.signature {
			align-self: flex-start;
			margin-top: 1rem;
			margin-bottom: .5rem;
			height: 3rem;
		}
	}
}